benchmarks-results
scripts/build-multiple-types/output.txt
scripts/consume-typings/consume-typings.js
scripts/consume-typings/package-lock.json
scripts/lint-ts-files/assets
scripts/lint-ts-files/assets/*
src/populate-docs-data/data-rambdax.json
src/populate-docs-data/data.json
src/run-ramda-specs/ramda
src/run-ramda-specs/ramda/*
node_modules
coverage
*.log
dist
.idea
standalone-benchmark-results/*.json
.vscode/settings.json
scripts/tree-shaking-webpack/output/*
scripts/compare-size/dist.ramda.custom.js
src/debug.json
